
section {
    max-width: 1140px;
    margin: auto;
}

form {
    margin-top: 50px !important;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input {
    outline: 0;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 2px;
}
 button{
    padding: 10px 10px;
    border: 2px solid transparent;
    background-color: green;
    font-size: 20px;
    color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover {
    color: black;
    background: red;
    border: 2px solid black; 
}
body {
    background: var(--white-color);
}

/* dark mode */

:root {
    --black-color: #000000;
    --white-color: #ffffff;
}


[mode="dark"] {
    --black-color: #ffffff;
    --white-color: #000000;
}

[mode="orange"] {
    --black-color: #000000;
    --white-color: #ff8800;
}

